/DIFFS
/OLD/*
/dx/save*/*
/rig_io/save*/*
/save*/*
/rig_io/DIFFS
/__pycache__
/dx/__pycache__
/*/__pycache__
/rig_io/#hamlib_io.py#
/pywsjtx/orig/
/dx/dx_spots.old
/rig_io/#*#
/#*
/dx/#*
/rig_io/util.old
